  
#back-ground{
  background-color:linear-gradient(#35e42c,#13d5c8) ;
  background: linear-gradient(#0ce2b0,#04f117);
  width: auto;
  height: 100vh;
}
#time-move{
  display:grid;
  justify-content: center; 
  word-wrap: break-word;
}
#new-size{
  /* display: block;
  align-self: center;
  justify-content: center; */
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}
#table-container {
  display:flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height based on your requirements */
  background-color: rgb(8, 213, 213);
}
#restart{
  width: 15%;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.congratulations {
  font-size: px;
  text-align: center;
}

.my-table {
  /* display: flex;
  justify-content: center;
  align-items: center;
   */
  display: table;
  margin: auto;
}

.my-table th,
.my-table td {
  border: 1px solid black;
  padding: 0px;
}

#box-size{
    width: 50px;
    height: 50px;
    
}
#flag-box{
  width: 50px;
  height: 50px;
  /* color: #dd1818; */
  background-color: #dd1818;
}
